/*   COLOURS   */

/*
SKY BLUE #00ACE9
RED #D43F3F
GREEN #6A9A1F
LIGHT GREY #F6F6E8
DARK GREY #404040
*/


/*         Bootstrap        */
.col-xs-1{
    width : 8%;
}

/*      Globals Styless     */
@font-face {
    font-family: GearedSlab;
    src: url(../fonts/GearedSlab-Extrabold.ttf);
}

body{
    font-family: GearedSlab;
    background: #404040;
    color :#D43F3F;
    font-size: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.btn{
    background:#D43F3F;
    color:#F6F6E8;
    border:1px solid #F6F6E8;
}

.btn:hover{
    color:#F6F6E8;
}


/* 			Header			*/

#header{
	border-bottom: 1px solid #F6F6E8;
	height: 20%;
}

#header h1{
	text-align: center;
	font-size: 60px;
	margin: 0px;
}

/*			Login-Form		*/

#login-form{
    width: 80%;
    margin : 50px auto;
    text-align: center;
}
#login-form .btn{
    margin:10px;
    width:80%;
}

/*          SignIn-Form      */

#SignUp-form{
    width: 80%;
    margin : 50px auto;
    text-align: center;
}
#SignUp-form .btn{
    margin:10px;
    width:80%;
}

/*          Round-View          */

#roundOverview{
    margin : 10px auto;
    font-size: 20x;
    text-align: center;
}

#roundOverview .Panel{
    padding: 0px;
    margin:0px;
}

#roundOverview .Holes{
    background: #6A9A1F;
    color:#F6F6E8;
}

#roundOverview .Par{
    background: #00ACE9;
    color:#F6F6E8;
}


